<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>App status: {{appStatus | async}}</h3>
  <br>
    <br>
<input type="text" [(ngModel)]="filterName">
    <hr>
    <p>Names list:</p>
    <div *ngFor="let person of persons| sortData: 'name'  ">
      {{person.name}} &nbsp;&nbsp; {{person.status}}
    </div>
<div *ngFor="let blog of blogs; let i = index">
    
    <h4> {{blog.title}}</h4>
    <p class="blog-item" (click)="showFullText(i)"> {{blog.content}}</p>
    
    <button class="btn btn-success" (click)="shortenBlogText(i)">Read</button>
    
</div>